<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}

th, td {
  text-align: left;
  padding: 16px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}
</style>
</head>
<body>
<table>
  <tr>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Points</th>
  </tr>
  <%for(var i=0;i<record.length;i++){%>
  <%var json = record[i];%>  
  <tr>
    <td>
        <a href="/hero/select?hero_id=<%=json.hero_id%>"><%=json.name%></a>
    </td>
    <td><%=json.gender%></td>
    <td><%=json.age%></td>
  </tr>
  <%}%>
</table>
<button onClick="location.href='/hero/join'">등록</button>
</body>
</html>
